<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
           <h1>Cards with Dummy Data</h1>
           <div class="card-deck">
            {{#each cards}}
              <div class="card">
                <img src="{{images}}" class="card-img-top" alt="{{title}}">
                 <div class="card-body">
                     <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                 </div>
                </div>
            {{/each}}
           </div>
    </div>
</body>
</html>